---
import BaseHead from '../components/BaseHead.astro';
import Experience from '../components/Experience.astro'
import Project from '../components/Project.astro'
import { Image } from 'astro:assets'
import dribbble from '@icon/dribbble.svg'
import github from '@icon/github.svg'
import linkedin from '@icon/linkedin.svg'
import email from '@icon/email.svg'
import emailAlt from '@icon/email-alt.svg'
import adam from '@img/adam.jpg'
import figmaLogo from '@svg/figma-logo.svg'
import figmaLogoOutline from '@svg/figma-logo-outline.svg'
import webflowLogo from '@svg/webflow-logo.svg'
import webflowLogoOutline from '@svg/webflow-logo-outline.svg'
import tailwindLogo from '@svg/tailwind-logo.svg'
import tailwindLogoOutline from '@svg/tailwind-logo-outline.svg'
import vueLogo from '@svg/vue-logo.svg'
import vueLogoOutline from '@svg/vue-logo-outline.svg'
import posthogLogo from '@svg/posthog-logo.svg'
import posthogLogoOutline from '@svg/posthog-logo-outline.svg'
import gtmLogo from '@svg/gtm-logo.svg'
import gtmLogoOutline from '@svg/gtm-logo-outline.svg'
import gaLogo from '@svg/ga-logo.svg'
import gaLogoOutline from '@svg/ga-logo-outline.svg'
import bootstrapLogo from '@svg/bootstrap-logo.svg'
import bootstrapLogoOutline from '@svg/bootstrap-logo-outline.svg'
import ionicLogo from '@svg/ionic-logo.svg'
import ionicLogoOutline from '@svg/ionic-logo-outline.svg'
import wordPressLogo from '@svg/wordpress-logo.svg'
import wordPressLogoOutline from '@svg/wordpress-logo-outline.svg'
import nuxtLogo from '@svg/nuxt-logo.svg'
import nuxtLogoOutline from '@svg/nuxt-logo-outline.svg'
import sassLogo from '@svg/sass-logo.svg'
import sassLogoOutline from '@svg/sass-logo-outline.svg'
import tributeCo from '@img/tribute-thumb.webp'
import tributeGreetings from '@img/greetings-thumb.webp'
import petersonsTestPrep from '@img/petersons-test-prep.webp'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Adam Robertson | Prodcut Designer and Developer" description="" />
	</head>
	<body>
		<header role="banner" class="md:flex-row md:items-center md:mx-auto md:px-0 relative z-[60] flex flex-col justify-between w-full max-w-5xl px-3 py-5">
			<div>
				<h1 class=" fixed p-2 text-2xl font-extrabold tracking-wide text-white uppercase bg-black rounded-b-sm">Adam</h1>
			</div>
			<nav class="md:block md:mt-0 hidden">
				<ul class="flex flex-row">
					<li class="mr-3">
						<a class="highlight flex items-center font-semibold cursor-pointer" href="https://dribbble.com/adamrobertson" target="_blank">
							<Image class="w-5 mr-1.5" src={dribbble} alt="Dribbble icon."/>
							Work
						</a>
					</li>
					<li class="mx-3">
						<a class="highlight flex items-center font-semibold cursor-pointer" href="https://github.com/admrbsn" target="_blank">
							<Image class="w-5 mr-1.5" src={github} alt="Github icon."/>
							Code
						</a>
					</li>
					<li class="mx-3">
						<a class="highlight flex items-center font-semibold cursor-pointer" href="https://www.linkedin.com/in/admrbsn/" target="_blank">
							<Image class="w-5 mr-1.5" src={linkedin} alt="LinkedIn icon."/>
							CV
						</a>
					</li>
					<li class="mx-3">
						<a class="highlight flex items-center font-semibold cursor-pointer" href="mailto:hi@adam.build">
							<Image class="w-5 mr-1.5" src={email} alt="Email icon."/>
							hi@adam.build
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<!-- Hero -->
			<div id="hero" class="relative z-50 bg-[#f8f5f2]">
				<div class="w-full max-w-5xl h-full right-0 left-0 flex flex-col md:flex-row md:items-center justify-center md:mx-auto -mt-10 md:mt-[-68px] px-3 md:px-0">
					<div class="md:order-none order-1">
						<h2 class="md:text-5xl font-heading max-w-3xl mb-6 text-3xl font-extrabold tracking-tight md:leading-tight">I'm a multi-disciplinary and grizzled product designer.</h2>
						<h3 class="md:ml-auto md:text-xl max-w-3xl text-lg leading-relaxed opacity-75">Design and technology make a great pairing—luckily, I have a background in both. Currently, I'm a VP of Product Design working for a startup based out of Brooklyn.</h3>
						<ul class="md:hidden flex flex-row mt-12">
							<li class="mr-3">
								<a class="flex items-center" href="https://dribbble.com/adamrobertson" target="_blank">
									<Image class="w-8 mr-0.5" src={dribbble} alt="Dribbble icon."/>
								</a>
							</li>
							<li class="mx-3">
								<a class="flex items-center" href="https://github.com/admrbsn" target="_blank">
									<Image class="w-8 mr-0.5" src={github} alt="Github icon."/>
								</a>
							</li>
							<li class="mx-3">
								<a class="flex items-center" href="https://www.linkedin.com/in/admrbsn/" target="_blank">
									<Image class="w-8 mr-0.5" src={linkedin} alt="LinkedIn icon."/>
								</a>
							</li>
							<li class="mx-3">
								<a class="flex items-center" href="mailto:hi@adam.build">
									<Image class="w-8 mr-0.5" src={emailAlt} alt="Email icon."/>
								</a>
							</li>
						</ul>
					</div>
					<Image class="w-[91.45px] md:w-1/3 md:ml-12 mb-6 md:mb-0 rounded-sm md:rounded-xl shadow-[12px_12px_36px_-0px_rgba(0,0,0,0.1)]" src={adam} alt="Portrait of Adam Robertson."/>
				</div>
			</div>
			<!-- About section -->
			<div id="about" class="md:max-w-5xl md:flex-row md:my-24 md:mx-auto md:px-0 md:pb-0 relative z-40 flex flex-col px-3 pb-12 mt-12 bg-white">
				<div class="md:order-none md:max-w-2xl md:mr-auto order-1">
					<p class="mb-8 text-base leading-relaxed opacity-75">I am always seeking to grow my <a class="highlight has-tooltip relative" href="https://www.forbes.com/sites/lisabodell/2020/08/28/futurethink-forecasts-t-shaped-teams-are-the-future-of-work/" target="_blank"><span class="tooltip left-1/2 whitespace-nowrap absolute px-2 py-1 -mt-6 text-xs text-white -translate-x-1/2 bg-black rounded shadow-lg">Forbes article on T-Shape in work</span>T-shape</a>, whether it's through reading usability studies, experimenting with new tools, or exploring different JavaScript libraries. My expertise lies in UX design and frontend development. I believe that good design is what sets the best products apart from the rest. One of my favorite quotes is by Charles Eames, "The details are not the details - They make the design." I am always attentive to the details in typography, alignment, colors and clean code.</p>
					<p class="mb-8 text-base leading-relaxed opacity-75">I am originally from northwestern Ohio and moved to Colorado after completing my Bachelor's degree in Foreign Affairs. I have been building websites <a class="highlight has-tooltip relative" href="https://web.archive.org/web/20020930020107/https://sccresources.com/" target="_blank"><span class="tooltip left-1/2 whitespace-nowrap absolute px-2 py-1 -mt-6 text-xs text-white -translate-x-1/2 bg-black rounded shadow-lg">My first commercial website from 2002</span>since the age of 16</a> and have worked in some capacity for various businesses and startups. In my free time, I enjoy hiking, cooking, DIY projects and spending time with my family.</p>
					<p class="mb-4 font-bold">I consider myself an expert in the following:</p>
					<div id="skills" class="columns-2">
						<ul>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={webflowLogoOutline} alt="Webflow logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={webflowLogo} alt="Webflow logo."/></div>Webflow</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="first-letter:flex relative items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={figmaLogoOutline} alt="Figma logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={figmaLogo} alt="Figma logo."/></div>Figma</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={tailwindLogoOutline} alt="Tailwind logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={tailwindLogo} alt="Tailwind logo."/></div>Tailwind</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={vueLogoOutline} alt="Vue logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={vueLogo} alt="Vue logo."/></div>Vue</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={nuxtLogoOutline} alt="Nuxt logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={nuxtLogo} alt="Nuxt logo."/></div>Nuxt</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={posthogLogoOutline} alt="Posthog logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={posthogLogo} alt="Posthog logo."/></div>Posthog</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={bootstrapLogoOutline} alt="Bootstrap logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={bootstrapLogo} alt="Bootstrap logo."/></div>Bootstrap</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={ionicLogoOutline} alt="Ionic logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={ionicLogo} alt="Ionic logo."/></div>Ionic</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={wordPressLogoOutline} alt="WordPress logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={wordPressLogo} alt="WordPress logo."/></div>WordPress</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={gaLogoOutline} alt="Google Analytics logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={gaLogo} alt="Google Analytics logo."/></div>Google Analytics</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={gtmLogoOutline} alt="Google Tag Manager logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={gtmLogo} alt="Google Tag Manager logo."/></div>Tag Manager</li>
							<li class="flex items-center py-1.5 font-semibold"><div class="relative flex items-center justify-center w-8 h-8 mr-2 border-2 border-black rounded-sm"><Image class="absolute w-full h-full" src={sassLogoOutline} alt="Sass logo."/><Image aria-hidden="true" class="absolute w-full h-full" src={sassLogo} alt="Sass logo."/></div>Sass</li>
						</ul>
					</div>
				</div>
				<div class="title sticky top-24 md:top-8 flex flex-col self-start md:mt-1.5 md:ml-12 pb-20 md:pb-0 bg-gradient-to-b from-white to-transparent text-3xl md:text-4xl font-heading font-extrabold tracking-tight md:leading-tight">
					<div class="w-16 mb-3 border-2 border-black"></div>
					Designer, developer, & creative.
					<div class="md:block hidden mt-3 font-sans text-lg font-semibold tracking-normal">A little about myself.</div>
				</div>
			</div>
			<!-- Experience section -->
			<div class="relative z-30 bg-[#e3ebee]">
				<div id="experience" class="md:max-w-5xl md:flex-row md:py-24 md:mx-auto md:px-0 flex flex-col px-3 py-12">
					<div class="title blue sticky z-10 top-24 md:top-28 flex flex-col self-start md:mt-1.5 md:mr-12 pb-20 md:pb-0 bg-gradient-to-b from-[#e3ebee] to-transparent text-3xl md:text-4xl font-heading font-extrabold tracking-tight md:leading-tight">
						<div class="w-16 mb-3 border-2 border-black"></div>
						Some of the things I've done.
						<div class="md:block hidden mt-3 font-sans text-lg font-semibold tracking-normal">Experience is growth.</div>
					</div>
					<div class="md:order-none md:max-w-2xl md:ml-auto order-1">
						<ol>
							<Experience
								dates="March 2020 - Present"
								role="VP of Product Design"
								body="<ul class='list-disc pl-5'><li class='mb-8 opacity-75 text-base leading-relaxed'>Managed a cross-functional team of 3 designers and 3 front-end engineers, overseeing design projects with a third-party agency as VP of Product Design. Led the migration from a static Django website to Webflow for marketing pages and implemented Vue mini-apps for other pages, enhancing site interactivity by 40%.</li><li class='mb-8 opacity-75 text-base leading-relaxed'>Conducted A/B testing using Google Optimize; utilized Google Tag Manager, Google Analytics, Amplitude, and Posthog for comprehensive data collection and analysis; implemented data-driven improvements that boosted conversion rates by 25%.</li><li class='mb-8 opacity-75 text-base leading-relaxed'>Led the ideation, design, and front-end development for 2 native iOS apps, fostering creativity through weekly design sprints with techniques such as mapping, competitor audits, and brainstorming. Introduced Lean UX principles and leveraged Figma and FigJam for seamless design collaboration.</li><li class='mb-8 opacity-75 text-base leading-relaxed'>Orchestrated Boombox acquisition, managing design and tech hand-off, refactoring Nuxt codebase, addressing 50+ bugs, improving performance by 30%, and initiating cost-saving measures, reducing expenses by 20%.</li><li class='mb-0 opacity-75 text-base leading-relaxed'>Facilitated in migrating the company from a number of PM tools to ClickUp, streamlining project management processes and improving team efficiency by 25%. Collaborated with the marketing team to map email life-cycles and run high-performing Optinmonster campaigns, increasing lead generation by 40%.</li></ul>"
							/>
							<Experience
								dates="December 2019 - March 2020"
								role="Product Design Consultant"
								body="<ul class='list-disc pl-5'><li class='mb-0 opacity-75 text-base leading-relaxed'>Transformed Droplr’s online presence by developing a custom WordPress multi-site theme; emphasized SEO and page speed, resulting in a 115% rise in organic traffic and a 99/85 Google PageSpeed score.</li><li class='mb-8 opacity-75 text-base leading-relaxed'>Led an initiative to standardize, improve, and codify the use of brand assets across the company, ensuring brand consistency and enhancing overall visual identity.</li></ul>"
							/>
							<Experience
								dates="March 2014 - March 2020"
								role="Sr. Manager, UX/UI & Frontend Development at Peterson's"
								body="<ul class='list-disc pl-5'><li class='mb-8 opacity-75 text-base leading-relaxed'>Led UX/UI and front-end development efforts as a senior manager, managing small teams and executing product visions from wireframing and high-fidelity mock-ups to prototyping and production-ready code within an Agile environment.</li><li class='mb-8 opacity-75 text-base leading-relaxed'>Spearheaded a 6-month project to migrate Peterson's from a 15-year-old .NET stack to modern technologies including Bootstrap, Laravel, VueJS, Auth0, AWS, Docker/Vagrant, Yarn, and Git/GitLab, resulting in a 40% improvement in site performance and a 50% reduction in maintenance costs.</li><li class='mb-8 opacity-75 text-base leading-relaxed'>Designed and developed a complex native mobile app with an international team in 3 months. App secured App Store feature within the first week, garnered a 4.6-star rating, and achieved 10,000 downloads in the initial 3 months.</li><li class='mb-0 opacity-75 text-base leading-relaxed'>Attained Certified Scrum Master (CSM) certification from Scrum Alliance, enabling the implementation of agile methodologies that accelerated project completion timelines.</li></ul>"
							/>
							<Experience
								dates="July 2017 - December 2019"
								role="Freelance Design & Development at ETHDenver"
								body="<ul class='list-disc pl-5'><li class='mb-0 opacity-75 text-base leading-relaxed'>Directed ETHDenver's web enhancement, merging WordPress and Devfolio to streamline promotional sites, forms with Advanced Custom Fields, schedules with Vue mini-apps, and social media; achieved a 96% CSAT score for event applications with improved UX.</li></ul>"
							/>
							<Experience
								dates="January 2014 - August 2017"
								role="Freelance Design & Development at Inspirato"
								body="<ul class='list-disc pl-5'><li class='mb-8 opacity-75 text-base leading-relaxed'>Designed and developed the WordPress blog for Inspirato, enhancing user engagement by 40% and elevating the brand's digital presence in the luxury hospitality market.</li><li class='mb-0 opacity-75 text-base leading-relaxed'>Engineered and launched the 'Inspirato with American Express' partnership, optimizing the user experience for card-members and driving a 40% increase in membership sign-ups within the first quarter.</li></ul>"
							/>
							<Experience
								dates="December 2011 - March 2014"
								role="Sr. WordPress Designer/Developer at Webolutions"
								body="<ul class='list-disc pl-5'><li class='mb-8 opacity-75 text-base leading-relaxed'>Won two Communicator Awards: Award of Excellence in the Food & Beverage category for PotatoesUSA, and Award of Visual Appeal for Fossil Trace Golf Club, highlighting exceptional design and development skills.</li><li class='mb-8 opacity-75 text-base leading-relaxed'>Designed and developed all client websites with a focus on user-centered design principles, best practices, and industry trends, ensuring high-quality and impactful web solutions.</li><li class='mb-0 opacity-75 text-base leading-relaxed'>Independently delivered new websites on a weekly basis, consistently meeting tight deadlines and maintaining high quality standards.</li></ul>"
							/>
							<Experience
								dates="July 2006 - December 2011"
								role="Lead Interactive Designer at Miles Media"
								body="<ul class='list-disc pl-5'><li class='mb-8 opacity-75 text-base leading-relaxed'>Directed all web and interactive design projects for 10+ clients, delivering high-impact websites, banner ads, and iOS apps; boosted client engagement by 40% across tourism sites for Colorado, San Francisco, and Philadelphia.</li><li class='mb-8 opacity-75 text-base leading-relaxed'>Orchestrated the design and management of banner ads using 24/7 Open AdStream, enhancing ad performance by 25%; key clients included official tourism sites for Austin and Seattle.</li><li class='mb-0 opacity-75 text-base leading-relaxed'>Transformed client engagement strategies, leveraging design process knowledge to deliver high-quality digital solutions that boosted client satisfaction by 40% and reduced project turnaround time by 25%.</li></ul>"
							/>
						</ol>
					</div>
				</div>
			</div>
			<!-- Projects section -->
			<div class="md:max-w-5xl md:flex-row md:my-24 md:mx-auto md:pl-0 relative z-10 flex flex-col pl-3 my-12">
				<div class="md:order-none md:max-w-2xl md:mr-auto order-1 overflow-hidden">
					<ul role="list" class="snap-mandatory snap-x md:block md:mt-2 flex overflow-auto">
						<Project
							href="/case-studies/tribute"
							title="Tribute.co"
							body="See how I helped tranform Tribute.co to leverage 25x growth."
							image={tributeCo}
						/>
						<Project
							href="/case-studies/greetings"
							title="Tribute Greetings"
							body="Tribute Greetings makes it easy to send meaningful 1-to-1 greeting cards & gifts."
							image={tributeGreetings}
						/>
						<Project
							href="https://adamrobertson.medium.com/petersons-test-prep-ios-android-mobile-app-case-study-488e8389183d"
							title="Peterson's Test Prep"
							body="Designed a mobile app in 3 months, earning a 4.6-star rating and 10,000 downloads."
							image={petersonsTestPrep}
						/>
					</ul>
				</div>
				<div class="title sticky top-24 md:top-8 w-full md:w-auto flex flex-col self-start md:mt-1.5 md:ml-12 pb-20 md:pb-0 bg-gradient-to-b from-white to-transparent text-3xl md:text-4xl font-heading font-extrabold tracking-tight md:leading-tight">
					<div class="w-16 mb-3 border-2 border-black"></div>
					Recent work.
					<div class="md:block hidden mt-3 font-sans text-lg font-semibold tracking-normal">What I've been up to.</div>
				</div>
			</div>
			<!-- Recommendations section -->
			<!-- <div class="relative z-10 bg-[#fffacd]">
				<div id="recommendations" class="md:max-w-5xl md:flex-row md:py-24 md:mx-auto md:px-0 flex flex-col px-3 py-12">
					<div class="title yellow sticky z-10 top-24 md:top-28 flex flex-col self-start md:mt-1.5 md:mr-36 pb-20 md:pb-0 bg-gradient-to-b from-[#fffacd] to-transparent text-4xl font-heading font-extrabold tracking-tight">
						<div class="w-16 mb-3 border-2 border-black"></div>
						What co-workers have to say
						<div class="mt-3 font-sans text-lg font-normal tracking-normal">Behind every positive interaction is an experience that matters. Whether it's freelance clients or ex-supervisors, I cherish those positive interactions. At the end of the day, work is personal.</div>
					</div>
					<div class="md:order-none md:max-w-2xl md:ml-auto order-1">
						<div class="-left-12 rounded-xl relative p-8 mb-6 bg-white border-2 border-black">
							<div class="flex justify-end mb-4">
								<Image class="w-10 mr-1" src={star} alt="Star."/>
								<Image class="w-10 mr-1" src={star} alt="Star."/>
								<Image class="w-10 mr-1" src={star} alt="Star."/>
								<Image class="w-10 mr-1" src={star} alt="Star."/>
								<Image class="w-10 mr-1" src={star} alt="Star."/>
							</div>
							<p class="mb-5 text-lg font-bold text-black">
								It was a pleasure working with Adam and I'd so again in a heartbeat. He's the type of guy you want on your team: creative, driven, resourceful, and fun to work with. Any company would be lucky to have him.
							</p>
							<p class="text-base font-bold text-black">Nate</p>
							<p class="text-base font-normal text-black opacity-75">Vice President of Services, Wayin</p>
						</div>
						<div class="rounded-xl relative p-8 mb-6 bg-white border-2 border-black">
							<div class="flex justify-end mb-4">
								<Image class="w-10 mr-1" src={star} alt="Star."/>
								<Image class="w-10 mr-1" src={star} alt="Star."/>
								<Image class="w-10 mr-1" src={star} alt="Star."/>
								<Image class="w-10 mr-1" src={star} alt="Star."/>
								<Image class="w-10 mr-1" src={star} alt="Star."/>
							</div>
							<p class="mb-5 text-lg font-bold text-black">
								Our WordPress theme works flawlessly. Adam was prompt, thorough, and knowledgeable on everything from the design to the migration and hosting. He configured WordPress in a way that I've never seen before—we're able to update virtually every piece of content without having to worry about the layout breaking.
							</p>
							<p class="text-base font-bold text-black">Erin</p>
							<p class="text-base font-normal text-black opacity-75">Vice President of Marketing, TinLeg</p>
						</div>
					</div>
				</div>
			</div> -->
		</main>
		<footer class="relative h-screen flex flex-col items-center justify-center md:block md:h-auto bg-[#f7f5f2]">
			<div class="max-w-5xl py-10 md:pt-20 pb-10 mx-auto text-center">
				<h6 class="font-heading mt-2 mb-5 text-4xl font-extrabold tracking-tight leading-tight">
					Let's Work Together.
				</h6>
				<p class="mx-auto mb-10 text-xl leading-relaxed opacity-75">Have a project? Let's chat. I'm currently accepting inquiries for small and medium sized projects.			</p>
				<a class="highlight inline-flex items-center text-2xl font-semibold cursor-pointer" href="mailto:hi@adambuild"><Image class="hidden md:block w-5 mt-1 mr-1.5" src={email} alt="Email icon."/>hi@adam.build</a>
			</div>
			<div class="w-full pb-14 text-center">
				Built with <a class="text-[#9333e9] underline" href="https://astro.build/" target="_blank">Astro</a>, <a class="text-[#0ca5e9] underline" href="https://tailwindcss.com/" target="_blank">Tailwind</a>, and <a class="underline" href="https://vanillajstoolkit.com/" target="_blank">Vanilla JS</a>.
			</div>
		</footer>
	</body>
</html>

<script>
	// Doc height hack to defeate 100vh bugs
	const documentHeight = () => {
		const doc = document.documentElement
		doc.style.setProperty('--doc-height', `${window.innerHeight}px`)
	}
	documentHeight()

	// Function to check if an element is in the viewport
	function isInViewport(elem: HTMLElement): boolean {
		const bounding = elem.getBoundingClientRect()

		return (
			bounding.top >= 0 &&
			bounding.left >= 0 &&
			bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
			bounding.right <= (window.innerWidth || document.documentElement.clientWidth)
		)
	}

	// Modifying the DOM on scroll
	window.addEventListener('scroll', (event: Event) => {
		const scrollTop = window.pageYOffset as number
		const hero = document.getElementById('hero') as HTMLElement
		const skills = document.getElementById('skills') as HTMLElement

		// Setting hero opacity
		hero.style.opacity = `${0 + (hero.offsetHeight - scrollTop) / hero.offsetHeight}`
		
		// Toggling skill icons between filled and outline
		if (isInViewport(skills)) {
			skills.classList.add("filled")
		} else {
			skills.classList.remove("filled")
		}
	}, false)
</script>

<style>
	:root {
		--doc-height: 100%;
	}
	@font-face {
		font-family: 'Martian Grotesk';
		src: url('/fonts/MartianGrotesk-VF.woff2') format('woff2');
		font-weight: 100 1000;
  	font-stretch: 75% 200%;
	}
	:global(.highlight) {
		@apply w-fit ease-in-out duration-100 pb-0.5 no-underline bg-no-repeat border-b-2 border-solid border-black;
    background-image: linear-gradient(transparent 50%, #e3ebee 0%);
    background-size: 0 100%;
	}
	:global(.highlight:hover) {
		@apply border-[#618395];
		background-size: 100% 100%;
	}
	.tooltip {
		@apply invisible;
	}

	.has-tooltip:hover .tooltip {
		@apply visible z-50;
	}
	#hero > div {
		height: var(--doc-height);
	}
	h1:before {
		@apply absolute -top-full left-0 w-full h-full bg-black;
		content: "";
	}
	#skills {
		@apply ease-in-out duration-500;
	}
	#skills.filled img,
	#skills img + img {
		@apply invisible opacity-0 ease-in-out duration-500;
	}
	#skills.filled img + img {
		@apply visible opacity-100 ease-in-out duration-500;
	}
	@media(max-width: 767px) {
		.title:before {
			@apply absolute -top-full -left-3 w-[calc(100%+0.75rem)] h-full bg-white;
			content: "";
		}
		.title.blue:before {
			@apply bg-[#e3ebee];
		}
		.title.yellow:before {
			@apply bg-[#fffacd];
		}
	}
</style>
