---
import { Image } from 'astro:assets'

export interface Props {
	title: string;
	body: string;
	href: string;
	image: string;
}

const { href, title, body, image } = Astro.props;
---

<li class="snap-center w-3/4 min-w-[75%] pr-5 md:w-auto md:min-w-0 md:mb-8 md:pr-0">
	<a href={href} class="md:flex items-center">
		<Image class="md:w-1/2 md:mr-10 bg-[#f7f5f2] border-2 border-white rounded-2xl" src={image} alt="{title} thumbnail."/>
		<div class="md:w-3/5 md:py-12 md:pr-12 py-5 pl-0">
			<h2 class="mb-3 text-2xl font-bold leading-tight">
				{title}
			</h2>
			<p class="mb-6 text-base leading-relaxed light:text-[#ebd5c5] dark:opacity-75">
				{body}
			</p>
			<p class="highlight font-semibold">See more<span class="mt-0.5 ml-1">&rarr;</span></p>
		</div>
	</a>
</li>

<style>
	a:hover img {
		border: 2px solid black;
		@apply transition-all;
	}
</style>