---
import { Image } from "astro:assets"
import arrowBack from '@icon/arrow-back.svg'
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseHead from '../../components/BaseHead.astro'
import 'photoswipe/style.css'

// Load the collection and define the static paths
export async function getStaticPaths() {
  const posts = await getCollection('case-studies')
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}

// Define the type for the props
type Props = CollectionEntry<'case-studies'>['data']

// Load the current post data
const post = Astro.props
const { title, description } = post.data
const { Content } = await post.render()
const allImageFiles = await Astro.glob(`../../assets/img/**/*`)

console.log("All Image Files:", allImageFiles)

const heroImageFile = allImageFiles.filter(file => {
  return file.default.src.includes(`${post.slug}-hero`)
})[0] // Ensure only the first match is used

const imageFiles = allImageFiles.filter(file => {
  return file.default.src.includes(`${post.slug}-gallery`)
})
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <header role="banner" class="md:flex-row md:items-center md:mx-auto md:px-0 relative z-50 flex justify-between w-full max-w-5xl px-3 py-5">
      <div>
        <h1 class="md:fixed p-2 text-2xl font-extrabold tracking-wide text-white uppercase bg-black rounded-sm">Adam</h1>
      </div>
      <a href="/" class="relative md:top-6 flex items-center text-black font-bold">
        <Image class="w-6 mr-1.5 " src={arrowBack} alt="Back icon."/>
        Back<span class="hidden md:inline">&nbsp;home</span>
      </a>
    </header>
    <main>
      <!-- Hero -->
      <div id="hero" class="relative z-30">
        {
          heroImageFile && (
          <div style={`background-image: url(${heroImageFile.default.src});`} class="w-full max-w-6xl h-96 md:mx-auto md:mt-12 bg-cover bg-center bg-[#f8f5f2] rounded-sm"></div>
          )
        }
      </div>
      <!-- Article section -->
      <article class="md:max-w-3xl mt-8 md:mt-12 md:mb-24 md:mx-auto px-4 md:px-0 z-40">
        <div class="prose">
          <div class="title mb-12">
            <h1 class="md:text-4xl font-heading text-3xl font-extrabold tracking-tight md:leading-tight">{title}</h1>
          </div>
          <Content />
        </div>
        <!-- Gallery section -->
        <h2 class="mt-12 pt-8 border-t-2">Images of the Process</h2>
        <div id="gallery" class="grid grid-cols-2 gap-2 md:grid-cols-4 md:gap-3">
          {
            imageFiles.map((img) => (
              <a
                href={img.default.src}
                data-pswp-width={img.default.width.toString()}
                data-pswp-height={img.default.height.toString()}
                target="_blank"
              >
                <img
                  src={img.default.src}
                  width={img.default.width}
                  height={img.default.height}
                  alt="Image."
                  class="w-full aspect-[4/3] object-cover rounded"
                />
              </a>
            ))
          }
        </div>        
      </article>
    </main>
  </body>
</html>

<script>
  // Modifying the DOM on scroll
  window.addEventListener('scroll', (event: Event) => {
    const scrollTop = window.pageYOffset as number
    const hero = document.getElementById('hero') as HTMLElement

    // Setting hero opacity
    hero.style.opacity = `${0 + (hero.offsetHeight - scrollTop) / hero.offsetHeight}`
  }, false)
</script>

<script type="module">
  //TODO: use node module instead
  import PhotoSwipeLightbox from 'https://unpkg.com/photoswipe/dist/photoswipe-lightbox.esm.js';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '#gallery',
    children: 'a',
    pswpModule: () => import('https://unpkg.com/photoswipe'),
  });

  lightbox.init();
</script>

<style>
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    @apply bg-gradient-to-b from-[#f7f5f2] to-[#ffffff];
  }
  :global(h2) {
    @apply mb-4  text-xl md:text-2xl font-heading font-extrabold tracking-tight md:leading-tight;
  }
  :global(h3) {
    @apply mb-4  text-lg md:text-xl font-heading font-extrabold tracking-tight md:leading-tight;
  }
  :global(h4) {
    @apply mb-4  text-base md:text-lg font-heading font-extrabold tracking-tight md:leading-tight;
  }
  :global(p) {
    @apply mb-8 text-[#404040] text-[17px] leading-relaxed;
  }
  :global(strong) {
    @apply text-black font-bold;
  }
  :global(ul) {
    @apply list-disc mt-4 mr-8 md:mr-12 ml-8 md:ml-12;
  }
  :global(ul li) {
    @apply mb-4 text-[#404040] text-base leading-relaxed;
  }
  :global(ol) {
    @apply list-decimal mt-4 mr-8 md:mr-12 ml-8 md:ml-12;
  }
  :global(ol li) {
    @apply mb-4 text-[#404040]  text-base leading-relaxed;
  }
  :global(.ipad) {
    @apply relative block mb-16 md:p-[24px] md:pr-[48px] bg-gradient-to-r from-[#fff] to-[#f1f1f3] rounded-xl shadow-[12px_12px_36px_-0px_rgba(0,0,0,0.1875)];
  }
  :global(.ipad:before) {
    content: '';
    @apply hidden md:block absolute right-2 w-8 h-8 inset-y-0 my-auto bg-[#e7e7e7] border-2 border-[#d4d4dd] rounded-full shadow-[inset_2px_0px_6px_rgba(0,0,0,0.1)];
  }
  :global(.ipad:after) {
    content: '';
    @apply hidden md:block absolute left-2.5 w-1.5 h-10 inset-y-0 my-auto bg-[#f0f0f0] rounded-full shadow-[inset_1px_0px_2px_rgba(0,0,0,0.1)];
  }
  :global(.ipad .screen) {
    @apply relative block overflow-scroll aspect-video md:shadow-[inset_1px_0px_6px_0px_rgba(0,0,0,0.25)] z-10 rounded md:rounded-none;
  }
  :global(.ipad img) {
    @apply mix-blend-color;
  }
  :global(.caption) {
    @apply text-sm italic opacity-60;
  }
  :global(.inline-img img) {
    @apply rounded;
  }
  #gallery a img {
    border: 2px solid transparent;
    @apply transition-all;
  }
  #gallery a:hover img {
    border: 2px solid black;
  }
  .astro-code {
    @apply p-8 rounded-sm text-sm;
  }
  img {
    @apply rounded-sm;
  }
</style>
